name: CI

on:
  push:
  pull_request:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "18"
      - name: 'Install dependencies'
        run: npm ci
      - name: 'run lint'
        run: npx eslint index.js
      - name: 'Run tests'
        run: npm test
      - uses: JS-DevTools/npm-publish@v2
        with:
          token: ${{ secrets.NPM_TOKEN }}
